/*
Generic use colors:
brown/gold
#b7702d

Dark puce
#4f3a3c

Orchid
#DA70D6

Dark Magenta
#8B008B

Lilac Luster
#ae98aa

Persian pink
#f77fbe

Crimson
#DC143C

Steel Blue
#4682B4

Turqoise
#40E0D0

Flirt
#a2006d

Safety yellow
#eed202

Rich black
#010203

Vampire Black 
#080808

Dark gold
#AA6C39

Honeydew
#F0FFF0

Dark grey
#a9a9a9

Charcoal grey
#36454f

--Adoratron palette:
Coral
#FF7F50

#053761
#FFE1FF
#005D75
#FCF1C6

*/

QWidget {
/*    border: 1px solid #4682B4;
    border-radius: 1px;*/
    color: #080808;
    font: 12px/16px "trebuchet ms", arial, helvetica, sans;
    background: #FF7F50;
    text-align: center;
    }

QLineEdit, QTextEdit, QComboBox {
    color: #FCF1C6;
    background-color: #010203;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: 14px;
    min-width: 10em;
    padding: 6px;
}

QPushButton {
    color: #FFE1FF;
    background-color: #053761;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: bold 14px;
    min-width: 10em;
    padding: 6px;
}

QPushButton:pressed {
    background-color: #AA6C39;
    border-style: inset;
}

QPushButton[formSubmitButton=true] {
    color: #FF7F50;
    background-color: #053761;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: bold 16px;
    min-width: 10em;
    padding: 6px;
}

QPushButton[formSubmitButton=true]:pressed {
    background-color: #AA6C39;
    border-style: inset;
}

QListWidget {
    color: #FCF1C6;
    background-color: #005D75;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: 14px;
    min-width: 10em;
    padding: 6px;

}